img {
  max-width: 100%;
  height: auto;
}
body {
  background-color: darkgrey;
}
div.container {
  background-color: pink;
  padding: 20px 20px 20px 20px;
  max-width: 700px;
  margin: 0 auto;
  overflow: auto;
  }
@media (min-width: 500px) {
    div.first-column{
      float: left;
      width: 66%;
      padding-right: 10px;
      margin: auto;
    }
    div.second-column{
      float: right;
      width: 33%;
      padding-left: 10px;
      margin: auto;
    }
  }
*{
  box-sizing: border-box;
  overflow: auto;
}
a {
  color: #800000;
}
h3 {
  font-weight: lighter;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 2px;
  font-family: Georgia;
}
h2 {
  margin-top: 0px;
  font-size: 24px;
  font-family: Georgia;
  font-style: italic;
}
h1 {
  font-family: Georgia;
}
.source{
  margin-bottom: 35px;
  border-bottom: 5px solid #E8E8E8;
}
.reveal-recipes{
  padding: 5px;
  background: lightblue;
}
